    <div class="card amigos" >
        <div class="card-header">
            Amigos
        </div>
        <div class="card-body p-0">
            <ul class="list-group  rounded-0 rounded-bottom">
                <li class="list-group-item border-0 border-top">Amigo 1</li>
                <li class="list-group-item border-0 border-top">Amigo 2</li>
                <li class="list-group-item border-0 border-top">Amigo 3</li>
                <li class="list-group-item border-0 border-top">Amigo 4</li>
                <li class="list-group-item border-0 border-top">Amigo 5</li>
            </ul>
        </div>
    </div>