<div class="contents w-100 h-100 d-flex">
    <div class="feed" ></div>
    <div class="amigos" >
        <ul class="list-group">
            <li class="list-group-item">Amigo 1</li>
            <li class="list-group-item">Amigo 2</li>
            <li class="list-group-item">Amigo 3</li>
            <li class="list-group-item">Amigo 4</li>
            <li class="list-group-item">Amigo 5</li>
        </ul>
    </div>
</div>