<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Navbar</span>
    <div class="d-flex align-items-center">

        <span class="" >selo</span>
        <span class="me-3 ms-2" >nome</span>
        <div class="perfil bg-body-secondary rounded-5" style="width:40px; height:40px;">

        </div>
    
    </>
  </div>
</nav>