<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Editora livre</span>
    <div class="d-flex align-items-center">

        <span class="" >selo</span>
        <span class="me-3 ms-2" >nome</span>
            <% if current_user %>
                <%= link_to content_tag(:div, class:"rounded-5",style:"width:40px; height:40px;" ), user_path(current_user.id) %>
            <%end%>

    </div>
  </div>
</nav>